$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {
  margin: 0;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding-left: 0;
    list-style: none;

    li + li {
      margin-left: 13px;

      @media (min-width: $screen-md) {
        margin-left: 15px;
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
    text-decoration: none;
    color: currentColor;

    @media (min-width: $screen-md) {
      padding: 10px 10px;
    }

    &--prev {

      svg {
        transform: scale(-1, 1);
      }
    }

    &--disabled {
      color: $text-color;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__item {

    &.active {

      a {
        color: $main-color;
        //background-color: $main-color;
        pointer-events: none;
      }
    }
  }
}
