.page-header {
  border-bottom: 2px solid $main-color;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: $screen-md) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
