.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0;
  padding-top: $field-padding-vertical-mob;
  padding-bottom: $field-padding-vertical-mob;
  padding-left: 40px;
  padding-right: 25px;
  white-space: wrap;
  vertical-align: middle;
  user-select: none;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $main-color;
  border: 2px solid $main-color;
  cursor: pointer;

  @media (min-width: $screen-md) {
    padding-top: $field-padding-vertical-desc;
    padding-bottom: $field-padding-vertical-desc;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 5px;
    height: 10px;
    background: svg-load('../blocks/btn/bg-img/arrow-right.svg', fill=$text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5px 10px;
  }

  &:hover,
  &:focus {
    color: $main-color;
    background-color: $btn-bg;
    border-color: $btn-bg;
    box-shadow: $shadow-btn--hover;

    &::after {
      background: svg-load('../blocks/btn/bg-img/arrow-right.svg', fill=$main-color);
    }
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lighter;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--inverted {
    color: $main-color;
    background-color: $btn-bg;
    border-color: $main-color;

    &::after {
      background: svg-load('../blocks/btn/bg-img/arrow-right.svg', fill=$main-color);
    }

    &:hover,
    &:focus {
      color: $text-color;
      background-color: $main-color;
      border-color: $main-color;

      &::after {
        background: svg-load('../blocks/btn/bg-img/arrow-right.svg', fill=$text-color);
      }
    }

    &--disabled,
    &:disabled {
      // opacity: $opacity;
      cursor: not-allowed;
      color: $text-color;
      background-color: $gray-lighter;
      border-color: $gray-lighter;

      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  }
}
