.socials {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  $block-name:                &; // #{$block-name}__element

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    color: $white;

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: currentColor;
    }

    &--insta {

      @media (min-width: $screen-md) {
        margin-right: 40px;
      }
    }
  }

  &--placeholder {
    margin-top: 10px;
  }
}
