$gray-lighter:                hsl(0, 0%, 80%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 20px;

  &:last-child {

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    // height: 2.125em;
    padding: 9px  $field-padding-horizontal;
    padding-right: 32px;
    margin: 0;
    line-height: $line-height;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: textfield;

    @media (min-width: $screen-md) {
      padding: 14px  $field-padding-horizontal;
    }

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-color--muted;
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }

    &--required {
      background-image: svg-load('../blocks/sprite-svg/svg/asterisc-icon.svg', fill=$main-color);
      background-position: right 20px center;
      background-size: 8px 8px;
      background-repeat: no-repeat;
    }
  }

  &__help-text {
    @include field-help-text;
  }

   &--nomargin {
    flex: 1 1 100%;
    margin-bottom: 0;

    #{$block-name}__input-wrap,
    #{$block-name}__input {
      height: 100%;
    }

    #{$block-name}__input {
      min-height: 100px;

       @media (min-width: $screen-lg) {
        min-height: 50px;
       }
    }
  }
}
