.partners-worldwide {

  $block-name:                &; // #{$block-name}__element

  &__map {
    min-height: 300px;

    @media (min-width: $screen-lg) {
      min-height: 360px;
    }

    @media (min-width: $screen-xl) {
      min-height: 465px;
    }

    @media (min-width: $screen-xxl) {
      min-height: 630px;
    }
  }
}
